build
data/waves/*
data/videos/*
data/frames/*
bajadas/*
data/sentiments.json

hidromancia/build/*
hidromanciaViz/build/*
simpleDataSerieViewer/build/*
wavesToFiles/build/*
videoCentral/build/*

getSentiments/node_modules
.Rproj.user
